<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2016. This application and all code is copyright of 4 Circles LLC, USA.
  -->

<manifest package="com.fourcircles.hinduterms"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/om_png"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name="com.fourcircles.hinduterms.HinduTermsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.fourcircles.hinduterms.SingleListItem"
                  android:label="Single Item Selected"
                  android:parentActivityName="com.fourcircles.hinduterms.HinduTermsActivity"
                         >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value= "com.fourcircles.hinduterms.HinduTermsActivity"
                />

        </activity>
    </application>

</manifest>